.productList {
  background-color: rgb(74, 166, 176);
}
.productCard {
  background-color: rgb(139, 61, 61);
  margin: 10px;
  width: 25%;
  box-sizing: border-box;
}
.cards {
  background-color: blueviolet;
  width: 80rem;
  flex-direction: row;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
